.homepage {
    &--heading {
        padding: 40px 0;
        width: 100%;

        background-color: $primary-bg;

        .container {
            display: flex;
        }

        &-image {
            flex: 1 1 0;
        }

        &-title {
            flex: 1 0 0;
            display: flex;
            justify-content: center;
            align-items: center;

            > * {
                max-width: 70%;
            }

            button {
                margin-top: 20px;
            }
        }
    }

    &--section {
        margin: 20px 0;

        &-title {
            text-align: center;
            font-size: 20px;
        }
    }
}
