.homepage {
    &--facebook {
        width: 100%;
        display: flex;
        align-items: center;

        &-title,
        &-widget {
            // flex: 1;
            font-size: 24px;
            margin: 0 auto;
        }
    }
}
