.homepage {
    &--facebook {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        @include media($md) {
            flex-direction: row;
        }

        &-title,
        &-widget {
            // flex: 1;
            font-size: 24px;
            margin: 0 auto;
        }
    }
}
