.nav {
    background-color: red;

    height: 50px;
    @include media($md) {
        height: 75px;
    }

    position: -webkit-sticky;
    position: sticky;
    top: 0px;

    margin: 0 -5px;

    padding: 10px 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &--firstRow {
        width: 100%;

        display: flex;
        margin: 0 auto;

        &-menu, &-title, &-actions {
            @include media($md) {
                flex: 1 0 0;
                display: flex;
                justify-content: center;
            }
        }

        &-menu {
            @include media($md) {
                visibility: hidden;
            }
        }

        &-actions {
            margin-left: auto;

            @include media($md) {
                justify-content: flex-end;
            }
        }
    }

    &--secondRow {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 10%;

        background-color: darken($color: #ffffff, $amount: 20);

        display: none;

        @include media($md) {    
            position: static;
            background-color: inherit;

            display: flex;
            justify-content: center;
        }

        &__open {
            display: block;
        }
    }
}