.nav {
    background-color: $primary;

    height: $header-height-phone;
    @include media($md) {
        height: $header-height;
    }

    position: -webkit-sticky;
    position: sticky;
    top: 0px;

    padding: 0 10px;

    display: flex;
    align-items: center;

    color: white;

    z-index: 10;

    &--middle {
        flex: 1 1 auto;

        @include media($md) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &--start {
        flex: 0 0 auto;
        @include media($md) {
            flex: 1 0 0;
        }
    }

    &--end {
        display: flex;

        @include media($md) {
            flex: 1 0 0;
            display: flex;
            justify-content: flex-end;
        }
    }

    &--title {
        font-size: 25px;

        margin-left: 5px;
        @include media($md) {
            margin-left: 0;
        }
    }

    &--items {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 10%;

        background-color: $primary;

        display: none;

        color: black;

        @include media($md) {
            color: white;

            position: static;

            display: flex;
            justify-content: center;
        }

        & > a:first {
            margin-top: 30px;
        }

        & > a {
            margin-left: 20px;
        }

        &__open {
            display: block;
        }

        &__spacer {
            visibility: hidden;
            @include media($md) {
                visibility: visible;
            }
        }
    }

    &--menu {
        @include media($md) {
            visibility: hidden;
        }
    }

    &--action {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0 5px;
    }
}
