@import "variables";
@import "mixins";
@import "utils";

@import "nav";
@import "components/product";

@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@import "pages/homepage";
@import "button";

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;

    font-family: "Open Sans", sans-serif;

    background-color: darken($color: #fff, $amount: 10);
}

.app {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;

    background-color: white;

    @include media($sm) {
        width: 540px;
    }

    @include media($md) {
        width: 700px;
    }

    @include media($lg) {
        width: 960px;
    }

    @include media($xl) {
        width: 1160px;
    }

    @include media($xxl) {
        width: 1400px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.material-icons,
a,
button {
    cursor: pointer;
}
