.product {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 300px;

    &--image {
        width: 100%;
    }

    &--title {
        text-align: center;
        font-weight: bold;
    }

    &--price {
        margin: 10px 0;
    }
}
