.product {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 5px;
    height: 100%;

    &--imageWrapper {
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-top: 6 / 5 * 100%;
        background: white;
        position: relative;
    }

    &--image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &--title {
        text-align: center;
        font-weight: bold;
    }

    &--price {
        margin: 10px 0;
    }

    &--shop {
        margin-top: auto;
    }
}
