.container {
  width: 100%;
  padding: 0 5px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 840px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.secondaryFont {
  font-family: "Pacifico", cursive;
}

img.fit {
  max-width: 100%;
  height: auto;
}

.nav {
  background-color: #e63946;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: white;
  z-index: 10;
}

@media (min-width: 768px) {
  .nav {
    height: 75px;
  }
}

.nav--middle {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .nav--middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.nav--start {
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  .nav--start {
    flex: 1 0 0;
  }
}

.nav--end {
  display: flex;
}

@media (min-width: 768px) {
  .nav--end {
    flex: 1 0 0;
    display: flex;
    justify-content: flex-end;
  }
}

.nav--title {
  font-size: 25px;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .nav--title {
    margin-left: 0;
  }
}

.nav--items {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 10%;
  background-color: #cccccc;
  display: none;
  color: black;
}

@media (min-width: 768px) {
  .nav--items {
    color: white;
    position: static;
    background-color: inherit;
    display: flex;
    justify-content: center;
  }
}

.nav--items__open {
  display: block;
}

@media (min-width: 768px) {
  .nav--menu {
    visibility: hidden;
  }
}

.nav--action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5px;
  height: 100%;
}

.product--imageWrapper {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 120%;
  background: white;
  position: relative;
}

.product--image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product--title {
  text-align: center;
  font-weight: bold;
}

.product--price {
  margin: 10px 0;
}

.product--shop {
  margin-top: auto;
}

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.glide * {
  box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:focus {
  outline: none;
}

.glide__arrow:hover {
  border-color: white;
}

.glide__arrow--left {
  left: 2em;
}

.glide__arrow--right {
  right: 2em;
}

.glide__arrow--disabled {
  opacity: 0.33;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}

.glide__bullet:focus {
  outline: none;
}

.glide__bullet:hover,
.glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}

.glide__bullet--active {
  background-color: white;
}

.glide--swipeable {
  cursor: grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.homepage--heading {
  padding: 40px 0;
  width: 100%;
  background-color: #f1faee;
}

.homepage--heading .container {
  display: flex;
}

.homepage--heading-image {
  flex: 1 1 0;
}

.homepage--heading-title {
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage--heading-title > * {
  max-width: 70%;
}

.homepage--heading-title button {
  margin-top: 20px;
}

.homepage--section {
  margin: 20px 0;
}

.homepage--section-title {
  text-align: center;
  font-size: 20px;
}

.products--page {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .products--page {
    flex-direction: row;
  }
}

.products--filtersButton {
  margin: 0 auto;
}

@media (min-width: 992px) {
  .products--filtersButton {
    display: none;
  }
}

.products--filters {
  width: 250px;
  display: none;
}

@media (min-width: 992px) {
  .products--filters {
    display: block;
  }
}

.products--filters-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 95px;
  z-index: 200;
}

.products--items {
  padding: 0 5px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(230px, 100%), 1fr));
}

.products--itemsWrapper {
  width: 100%;
}

.products--list-item {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.products--list-item-title {
  font-weight: bold;
  font-size: 20px;
}

.products--list a {
  color: inherit;
  text-decoration: none;
}

.products--nestedList {
  margin-left: 15px;
}

.products--nestedList-item {
  margin: 5px 0;
  padding: 0 15px;
}

.products--nestedList-item__active {
  background-color: #a8dadc;
}

.products--search {
  width: 100%;
  margin: 20px auto;
  position: relative;
}

@media (min-width: 768px) {
  .products--search {
    width: 75%;
  }
}

.products--search input {
  width: 100%;
  padding: 10px 35px 10px 10px;
}

.products--search button {
  position: absolute;
  right: 0;
  height: 100%;
  background: none;
  border: none;
}

.products--form-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.products--form-buttons .btn {
  width: 100%;
}

.products--noItems {
  padding: 0 10px;
  width: 100%;
  text-align: center;
  color: gray;
}

.products--pagination {
  margin-top: 20px;
}

.btn {
  border: none;
  padding: 10px;
  width: 50%;
  border-radius: 0;
  box-shadow: 3px 3px #a8dadc;
  background: none;
  color: black;
  display: block;
}

.btn__primary {
  background-color: #e63946;
  color: white;
}

.btn__secondary {
  border: 1px solid;
  border-color: #e63946;
  box-shadow: none;
}

.input {
  border-radius: 0px;
  border-width: 1px;
  height: 25px;
  padding: 10px;
}

.input__large {
  height: 35px;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #e6e6e6;
}

.app {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

@media (min-width: 576px) {
  .app {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .app {
    width: 700px;
  }
}

@media (min-width: 992px) {
  .app {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .app {
    width: 1160px;
  }
}

@media (min-width: 1440px) {
  .app {
    width: 1400px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.material-icons,
a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination .page-item {
  border: 1px solid #e63946;
  display: flex;
  margin: 0 5px;
}

.pagination .page-link {
  padding: 10px 17px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination .active {
  background-color: #e63946;
  color: white;
}

.pagination .disabled .page-link {
  cursor: not-allowed;
}

